.themeanimation {
    transform: translateX(17%);
    transform: translateY(17%);
    animation: ease;
}

@keyframes animationviewed {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1
    }
}

@keyframes animationhide {
    0% {
        transform: translateY(100%);
        opacity: 1
    }

    100% {
        transform: translate(0%);
        opacity: 0;
    }
}

.textviewed {
    animation: animationviewed 0.5s ease-in forwards;
}

.texthide {
    animation: animationhide 0.5s ease-out forwards;
}

.theme {
    transform: translateY(-17%);
    transform: translateX(-17%);
    animation: ease
}