@import url("https://db.onlinewebfonts.com/c/f56809563b15c7c76669dac9ca9d38ac?family=Matter+Regular");

.bestsellingheading {
    padding: 10px;
    position: relative;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 37%;
    animation: showbox 0.5s ease linear;
    /* width:fit-content; */
    /* background-color: #000; */
}

@keyframes showbox {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    50% {
        transform: translateY(-25%);
        opacity: 0.5;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes showcollection {
    0% {
        transform: translateY(50%) scale(0);
        opacity: 0;
    }

    100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }
}

.collectionlist {
    animation: showcollection 0.5s forwards ease;
}

.inViewedDark {
    color: #fff;
}

@keyframes slidein {
    0% {
        /* transform: translateX(-50%); */
        /* transform: translateY(-50%); */
        transform: translate(14%, 100%);
        opacity: 0
    }

    100% {
        /* transform: translateX(0%); */
        /* transform: translateY(0%); */
        transform: translate(0%, 0%);
        opacity: 1
    }
}

.textviewed {
    padding: 13px 10px;
    font-size: xx-large !important;
    /* transform: translateX(0%);
    transform: translateY(0%);
    transform:translateZ(0%); */
    /* transition: opacity 0.5s ease-out, transform 0.5s ease-out; */
    /* transition-delay: 1s; */
    /* transition: linear 0.5s; */
    animation: slidein 0.25s ease-out forwards;
    /* opacity: 1; */
    /* visibility: visible; */
}



@keyframes hidein {
    0% {
        transform: translateX(0%);
        transform: translateY(0%);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        transform: translateY(-100%);
        opacity: 0;
    }
}

.texthide {
    /* transform: translate(-100%,-100%,0); */
    padding: 13px 10px;
    /* animation: hidein 1s ease-out forwards; */
    /* transition: opacity , transform; */
    /* opacity: 0; */
    /* visibility: hidden; */
    font-size: xx-large;
    /* animation: hidein 0.5s ease-in backwards; */
}

.lightbestselling {
    padding: 10px;
    position: relative;
    color: darkblue;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 37%;
    /* animation: showbox 0.5s ease linear; */
    /* width: fit-content; */
    background-color: #fff;
}

.bestselling {
    font-family: "Matter Regular";
    padding: 10px;
}

.slicedborder {
    border-bottom: 6px solid #ec4899;
    width: 6%;
    position: absolute;
}

/* [data-aos = "custom-diagonal"] {
    opacity : 0;
    transform:translate3d(100%,100%,0);
    transition-property:opacity,transform;
}
[data-aos = "custom-diagonal"].aos-animate {
    opacity:1;
    transform:translate(0,0,0);
} */