.lightpagination {
    display: flex;
    gap: 5px;
    color: magenta;
    background-color: #fff;
    justify-content: center;
}

.darkpagination {
    display: flex;
    gap: 5px;
    color: magenta;
    background-color: #111827;
    justify-content: center;
}

.page {
    width: 31px;
    height: 31px;
    background-color: magenta;
    border-radius: 10px;
    padding: 5px;
    color: #fff;
    transition: all 0.5s;
    transform: scale(1)
}

.page:hover {
    box-shadow: 0px 0px 0px 2px magenta;
    transform: scale(1.05);
    transition: all 0.5s;
}