@keyframes showbox {
    0% {
        transform: translateY(50%) scale(0.5);
        /* transform: scale(0); */
        opacity: 0;
    }

    /* 50% {
        transform: translateY(25%);
        transform: scale(0.5);
        opacity: 0.5;
    } */

    100% {
        transform: translateY(0%) scale(1);
        /* transform: scale(1); */
        opacity: 1
    }
}

.showbox {
    animation: showbox 0.8s;
}

@keyframes hidebox {
    0% {
        transform: translateY(0%);
        /* transform: scale(1); */
        opacity: 1
    }

    /* 50% {
        transform: translateY(50%);
        transform: scale(0.5);
        opacity: 0.5;
    } */

    100% {
        transform: translateY(100%);
        /* transform: scale(0); */
        opacity: 0
    }
}

.hidebox {
    animation: hidebox 0.5s;
}