@import url("https://db.onlinewebfonts.com/c/f56809563b15c7c76669dac9ca9d38ac?family=Matter+Regular");

.barcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    gap: 10px;
}

.smallcontainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

@media only screen and (min-width:901px) {
    .searchcontainer {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width:900px) {
    .searchcontainer {
        display: none;
    }
}

.navlist {
    display: block;
    margin-left: 17px;
}

.search-box {
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ef3492;
}

.selecteditemlight {
    color: #ec4899;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid #ec4899;
    cursor: pointer;
    margin-right: 5px;
    padding: 5px;
    transition: all 0.2s;
    font-weight: bold;
    font-size: medium;
}

.unselecteditemlight {
    color: #000;
    border: 2px solid transparent;
    cursor: pointer;
    margin-right: 5px;
    padding: 5px;
    transition: all 0.2s;
    font-weight: bold;
    font-size: large;
}

.selecteditem {
    color: #ec4899;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid #ec4899;
    cursor: pointer;
    margin-right: 5px;
    padding: 5px;
    transition: all 0.2s;
    font-weight: bold;
    font-size: medium;
}

.selected-item:hover {
    color: #f472b6;
    transition: all 0.2s;
    font-weight: bold;
    font-size: large;
}

.unselecteditem:hover {
    color: #f472b6;
    transition: all 0.2s;
    font-weight: bold;
    font-size: large;
}

.search:hover {
    box-shadow: inset 0px 0px 40px #f472b6;
    transition: linear 0.19s;
}

.search {
    transition: linear 0.19s;
    height: 38px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 21px;
    padding-right: 21px;
}

.collapsedlist {
    width: fit-content;
}

.unselecteditem {
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    cursor: pointer;
    color: #fff;
    margin-right: 5px;
    padding: 5px;
    transition: all 0.2s;
    font-weight: bold;
    font-size: large;
    border: 2px solid transparent;
}

.custombar {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #111827;
    z-index: 90;

    padding: 10px;

    box-shadow: 0px 0px 5px 2px rgba(217, 124, 240, 0.5);
}

@media only screen and (min-width:901px) {
    .logout {
        display: block;
        position: relative;
    }

    .toggler {
        display: none;

    }

    .hideclose {
        display: none;
    }

    .hidetoggle {
        display: none
    }

    .close {
        display: none;
    }

    .sidebar {
        display: none;
        transition: all 0.25s linear;
    }

    .bartext {
        display: none;
    }

    .showbar {
        display: none;
        transition: all 2s linear;
    }

    .themeexpanded {
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width:900px) {
    .navlist {
        display: none;
    }

    .logout {
        display: none;
        cursor: pointer;
    }

    .themeexpanded {
        display: none;
        cursor: pointer;
    }

    .toggler {
        visibility: visible;
        opacity: 1;
        cursor: pointer;
        transition: visibility 0.36s, opacity 0.36s;
        position: absolute;
        top: -2px;
        right: 4px;
    }

    .hidetoggle {
        visibility: hidden;
        opacity: 0;
        cursor: pointer;
        position: absolute;
        top: -2px;
        right: 4px;
        transition: visibility 0.36s, opacity 0.36s;
    }

    .close {
        visibility: visible;
        opacity: 1;
        position: absolute;
        top: -2px;
        right: 4px;
        transition: visibility 0.36s, opacity 0.36s;
        cursor: pointer;
    }

    .hideclose {
        visibility: hidden;
        opacity: 0;
        cursor: pointer;
        position: absolute;
        top: -2px;
        right: 4px;
        transition: visibility 0.36s, opacity 0.36s;
    }

    .sidebar {
        padding: 0px;
        height: 0px;
        overflow: scroll;
        transition: all 0.25s;
    }

    .showbar {
        padding: 10px;
        height: 220px;
        overflow-y: scroll;
        overflow-x: hidden;
        transition: all 0.25s;
    }

    .bartext {
        display: block;
        max-width: fit-content;
    }
}

.selected {
    padding: 10px;
    margin-right: 5px;
    border-bottom: 2px solid #fff;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    transition: all 2s linear;
}

.unselected {
    padding: 10px;
    margin-right: 5px;
    border-bottom: 2px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    transition: all 2s linear;
}

.darkinput {
    height: 35px;
    max-height: 45px;
}

.darkinput::placeholder {
    color: lightgray;
    font-family: "Matter Regular";
    font-weight: bold;
}

.lightinput {
    outline: 2px solid rgb(239, 236, 236);
    height: 35px;
    border: transparent;
}

.lightinput:focus-visible {
    outline: 2px solid #f472b6;
    box-shadow: 0px 0px 2px 2px #f472b6;
}

.lightinput::placeholder {
    color: black;
    font-family: "Matter Regular";
    font-weight: bold;
}