.card {
    transition: linear 0.2s;
    cursor: pointer;
    padding: 14px;
}

.lightcontainer {
    background-color: #fff;
    padding: 5px;
    position: relative;
}

.darkcontainer {
    background-color: #1f2937;
    padding: 5px;
    position: relative;
}

.card:hover {
    transition: linear 0.2s;
    box-shadow: inset 0px 0px 25px 3.5px rgb(209, 206, 206);
    cursor: pointer;
    transform: scale(1.04);
}

/* .productImage {
    
} */
.gratitude {
    background-image: url("/mugs.png");
    background-size: 100% 100%;
    transition: all 0.4s;
    transform: scale(1);
    height: 70%;
    width: 65%;
    margin: auto;
}

.card:hover .gratitude {
    background-image: url("/mugs.png");
    background-size: 100% 100%;
    transition: all 0.4s;
    transform: scale(1.04);
    /* height: 100%; */
    height: 70%;
    width: 65%;
    transition-delay: 0.1s;
    margin: auto;
}

.second {
    background-image: url("/musgsecond.png");
    background-size: 100% 100%;
    width: 65%;
    height: 75%;
    transition: all 0.4s;
    transform: scale(1);
    margin: auto;
}

.card:hover .second {
    background-image: url("/musgsecond.png");
    background-size: 100% 100%;
    height: 75%;
    transition: all 0.4s;
    transition-delay: 0.1s;
    transform: scale(1.04);
    margin: auto;
}

.third {
    background-image: url("/mugsthird.png");
    background-size: 100% 100%;
    transform: scale(1);
    transition: all 0.2s;
    margin: auto;
    width: 65%;
    height: 75%;
}

.card:hover .third {
    background-image: url("/mugsthird.png");
    background-size: 100% 100%;
    transition: all 0.4s;
    transform: scale(1.04);
    transition-delay: 0.1s;
    width: 65%;
    height: 75%;
    margin: auto;
}

.fourth {
    background-image: url("/mugsfourth.png");
    background-size: 100% 100%;
    transition: all 0.4s;
    width: 65%;
    height: 75%;
    margin: auto;
    transform: scale(1);
}

.card:hover .fourth {
    background-image: url("/mugsfourth.png");
    background-size: 100% 100%;
    transition: all 0.4s;
    transition-delay: 0.1s;
    width: 65%;
    height: 75%;
    margin: auto;
    transform: scale(1.04);
}
@media only screen and (width < 768px) {
    .mobilecontainermugs {
        position: absolute;
        top: 5px;
        z-index: 11;
        height: 100%;
        width: 80%;
    }
}