@import url("https://db.onlinewebfonts.com/c/f56809563b15c7c76669dac9ca9d38ac?family=Matter+Regular");

.expanded {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: fit-content;
}

.normalclosure {
    display: none;
}

@media only screen and (max-width:980px) {
    .collapsecontent {
        display: none;
    }

    .closure {
        display: block;
        border-radius: 50%;
        padding: 10px;
    }
}

@media only screen and (min-width:1000px) {
    .expanded {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-height: fit-content;
        transition: max-height 2s linear;
    }

    .collapsecontent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}