@import url("https://db.onlinewebfonts.com/c/f56809563b15c7c76669dac9ca9d38ac?family=Matter+Regular");

.footer {
    font-family: "Matter Regular";
    /* position: fixed;
    bottom: 0px; */
    background-color: #f1f5f9;
    height: fit-content;
    /* position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px; */
}

.footerdark {
    background-color: #111827;
    font-family: "Matter Regular";
    height: fit-content;
    /* position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px; */
}

.gridRow {
    border: 2px solid rosybrown;
}