@import url("https://db.onlinewebfonts.com/c/f56809563b15c7c76669dac9ca9d38ac?family=Matter+Regular");

.customdrawer {
    position: relative;
    font-family: "Matter Regular";
}

.hoverbutton {
    background: pink;
    position: relative;
    width: 200px;
    height: 50px;
}

@keyframes movedotleft {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(900%, 0%);
    }

    100% {
        transform: translate(900%, 200%);
    }
}

@keyframes moveleftreverse {
    0% {
        transform: translate(900%, 200%);
    }

    50% {
        transform: translate(900%, 0%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes movedotright {
    0% {
        transform: translate(0, 0)
    }

    50% {
        transform: translate(-900%, 0%);
    }

    100% {
        transform: translate(-900%, -200%)
    }
}

@keyframes moverightreverse {
    0% {
        transform: translate(-900%, -200%);
    }

    50% {
        transform: translate(-900%, 0%);
    }

    100% {
        transform: translate(0%, 0%)
    }
}

.hoverbutton:hover .topleft {
    animation: movedotleft 1s ease-out;
}

.hoverbutton:hover .bottomright {

    animation: movedotright 1s ease-out;
}

.hoverbutton:not(:hover) .topleft {
    animation: moveleftreverse 1s ease-out
}

.hoverbutton:not(:hover) .bottomright {
    animation: moverightreverse 1s ease-out;
}

.topleft {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 22px;
    height: 22px;
    border-radius: 22px;
    background-color: #fff;
}

.bottomright {
    width: 22px;
    position: absolute;
    bottom: -10px;
    right: -10px;
    height: 22px;
    background-color: #fff;
    border-radius: 22px;
}

.typographytext {
    font-family: "Matter Regular";
    font-weight: bold
}

@media screen and (max-width) {}